body {
    background-color: aliceblue;
    display:  flex;
    align-items: center;
    flex-direction: column;
    
}

#top{
    display: flex;
    margin: 20px 0;
}

#container {
    background-color: white;
    width: 860px;
    height: 860px;
    max-width: 860px;
    max-height: 860px;
    display: flex;
    flex-wrap: wrap;
    
         
}

.start {
    background-color: yellow;
    flex-grow: 1;
    margin: 0;
    max-height: calc(860px/4); 
    max-width: calc(860px/4); 
    height: calc(860px/4); 
    width: calc(860px/4); 
    
}
.new {
    background-color: yellow;
}
